<!--First row is for header-->
  <div class = "r-row">
    <div class = "r-column">
      <app-header-cmp></app-header-cmp>
    </div>
  </div>
<!--second row-->
  <div class="r-row">
<!--    columns for sidebar-->
      <div class = "r-column">
              <app-news-healines></app-news-healines>
              <app-top-players></app-top-players>
      </div>
<!--    column for route-->
      <div class = "r-triple-column">
        <div class = "home">
          <router-outlet></router-outlet>
        </div>
      </div>
  </div>





<!--<div class="d-flex flex-column">-->
<!--  <div class="flex-fill">-->
<!--      <app-header-cmp></app-header-cmp>-->
<!--  </div>-->
<!--  <div class="d-flex bg-secondary mb-3">-->
<!--    <div class="bg-info" style="width: 20vw;">Flex item 1</div>-->
<!--    <div class="p-2 flex-fill bg-warning">Flex item 2</div>-->

<!--  </div>-->
<!--</div>-->

<!--<div class="container-fluid d-flex h-100 flex-column">-->
<!--  &lt;!&ndash; I want this container to stretch to the height of the parent &ndash;&gt;-->

<!--  <div class="row bg-primary flex-fill d-flex justify-content-start overflow-auto">-->
<!--    &lt;!&ndash; I want this row height to filled the remaining height &ndash;&gt;-->
<!--    <div class="col py-2">-->
<!--      &lt;!&ndash; if row is not the right to stretch the remaining height, this column also fine &ndash;&gt;-->
<!--      https://srv.buysellads.com/ads/click/x/GTND42QMCYAIKK37C6SLYKQMCWSDLK3JCYBITZ3JCWBI5KQLCWBI523KC6BIP2J7CW7I6K3EHJNCLSIZ            Content Sed ut-->
<!--      perspiciatis unde omnis iste natus error sit voluptatem..-->

<!--      <p>Sriracha bi0's blog.</p>-->

<!--      <p>Ethic.</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->







